<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cloud Data Storage</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="shortcut icon" href="image/favicon.svg" type="image/x-icon">
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row bg-secondary">
            <div class="col-3"></div>
            <div class="col-6 text-center text bd-highlight opacity-100 p-2 bg-secondary text-light fw-bold rounded m-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-folder-plus" viewBox="0 0 16 16">
                    <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"/>
                    <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5"/>
                </svg>
                <h1 class="">Cloud Data Storage</h1>
            </div>
            <div class="col-3 opacity-100 bg-secondary text-light m-auto d-flex justify-content-end align-items-center">
                <div class="opacity-100 bg-secondary text-light m-auto d-flex justify-content-end align-items-center"
                     th:if="${userDto}">
                    <h5 th:text="'Добро пожаловать, ' + ${userDto.username()}"></h5>
                    <form th:method="POST" th:action="@{/logout}">
                        <button class="btn btn-outline-light m-2 align-content-center" type="submit">Выйти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row" style="height: 88.5vh">
            <div class="col-3" style="border-right: 1px solid #ccc;">
                <form class="d-flex align-items-center" style="margin-top: 1rem" method="GET" action="/search">
                    <input class="form-control me-2" type="search" name="fileName" placeholder="Введите название файла"
                           aria-label="Search">
                    <button class="btn btn-outline-light bg-secondary m-2 align-content-center" type="submit">Поиск
                    </button>
                </form>
                <div class="dropdown mb-5 mt-3">
                    <button class="btn btn-outline-light bg-secondary dropdown-toggle" type="button"
                            id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="true">
                        Загрузить:
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenu"
                        style="text-align: center">
                        <form th:method="POST" th:action="@{/upload}" enctype="multipart/form-data">
                            <label for="formFile" class="form-label">Файл</label>
                            <input class="form-control" type="file" id="formFile" name="file"
                                   style="margin-bottom: 0.5rem" multiple>
                            <input type="hidden" name="path" th:value="${path}">
                            <input type="hidden" name="userId" th:value="${userDto.id()}">
                            <button type="submit" class="btn btn-outline-light bg-secondary"
                                    style="margin-bottom: 0.5rem">
                                Загрузить
                            </button>
                        </form>
                        <form th:method="POST" th:action="@{/upload}" enctype="multipart/form-data">
                            <label for="formFolder" class="form-label" style="margin-bottom: 0.5rem">Папку</label>
                            <input class="form-control" type="file" id="formFolder" name="folder" webkitdirectory
                                   multiple style="margin-bottom: 0.5rem">
                            <input type="hidden" name="path" th:value="${path}">
                            <input type="hidden" name="userId" th:value="${userDto.id()}">
                            <button type="submit" class="btn btn-outline-light bg-secondary">
                                Загрузить
                            </button>
                        </form>
                    </ul>
                </div>
                <div class="dropdown mb-3 mt-3">
                    <button class="btn btn-outline-light bg-secondary dropdown-toggle" type="button"
                            id="dropdownMenuDark" data-bs-toggle="dropdown" aria-expanded="true">
                        Создать папку:
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuDark"
                        style="text-align: center">
                        <form class="d-flex align-items-center" style="margin-top: 1rem" method="POST"
                              action="/new-folder">
                            <input class="form-control me-2" id="folderName" name="folderName" type="text"
                                   placeholder="Введите имя папки"
                                   aria-label="Search" style="margin-left: 0.5rem">
                            <input type="hidden" id="path" name="path" th:value="${path}">
                            <input type="hidden" name="userId" th:value="${userDto.id()}">
                            <button class="btn btn-outline-light bg-secondary m-2 align-content-center" type="submit">
                                Создать
                            </button>
                        </form>
                    </ul>
                </div>
                <p class="text-muted" style="font-size: small">
                    Внимание: папка создастся в той директории, в который вы находитесь на данный момент.
                </p>
                <div class="card" th:if="${fileDto}">
                    <img src="image/file-earmark-fill.svg" width="50"
                         height="50" class="card-img-top mt-2" alt="card-grid-image">
                    <div class="card-body">
                        <h5 th:text="${fileDto.fileName()}"></h5>
                        <a th:href="@{/(path=${fileDto.path()})}" th:if="${!fileDto.path().isEmpty()}"
                           th:text="${'Путь к файлу: ' + fileDto.path()}"></a>
                        <p th:if="${fileDto.path().isEmpty()}" th:text="${'Файл находится в корневой папке.'}"></p>
                        <p th:text="${'Изменен: ' + fileDto.lastModified()}"></p>
                        <p th:text="${'Размер файла: ' + fileDto.size()} + ' Кбайт'"></p>
                        <a th:href="@{${fileDto.url()}}" th:text="${'Скачать'}"></a>
                    </div>
                </div>
            </div>
            <div class="col-7" style="border-right: 1px solid #ccc;">
                <div class="col-2 d-flex flex-column justify-content-center align-items-center"
                     style="height: 75vh; width: 100%;" th:if="${userFiles == null or userFiles.isEmpty()}">
                    <p th:text="'У вас на данный момент нет загруженных файлов.'"></p>
                </div>
                <div class="card-group d-flex flex-row align-items-md-start" style="margin-top: 1rem"
                     th:if="${userFiles}">
                    <div class="card" style="margin-left: 1rem; width: 20%; flex: 0 0 auto; flex-grow: 0;"
                         th:each="userFile : ${userFiles}">
                        <a class="nav-link" th:if="${userFile.isFolder()}"
                           th:href="@{/(path=${path == null ? userFile.fileName() : path + '/' + userFile.fileName()})}">
                            <div>
                                <img src="image/folder-fill.svg"
                                     class="card-img-top" alt="card-group-image"
                                     width="50"
                                     height="50">
                            </div>
                            <div class="card-body" style="text-align: center">
                                <h5 class="card-title" th:text="${userFile.fileName()}"></h5>
                            </div>
                        </a>
                        <a class="nav-link" th:if="${!userFile.isFolder()}"
                           th:href="@{/files(path=${path == null ? null : path}, name=${userFile.fileName()})}">
                            <div>
                                <img src="image/file-earmark-fill.svg"
                                     class="card-img-top" alt="card-group-image"
                                     width="50"
                                     height="50">
                            </div>
                            <div class="card-body" style="text-align: center">
                                <h5 class="card-title" th:text="${userFile.fileName()}"></h5>
                            </div>
                        </a>
                        <div class="btn-group dropend" style="margin-top: 0.3rem">
                            <button type="button" class="btn btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Опции
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark"
                                style="text-align: center; width: 250px;">
                                <form class="d-flex flex-column align-items-center mb-2" th:method="DELETE"
                                      th:action="@{/delete}">
                                    <input type="hidden" name="path" th:value="${path}">
                                    <input type="hidden" name="fileName" th:value="${userFile.fileName()}">
                                    <input type="hidden" name="isFolder" th:value="${userFile.isFolder()}">
                                    <input type="hidden" name="userId" th:value="${userDto.id()}">
                                    <button type="submit" class="btn btn-secondary btn-sm">Удалить</button>
                                </form>
                                <form class="d-flex flex-column align-items-center" th:method="PATCH"
                                      th:action="@{/rename}">
                                    <input class="form-control me-2 mb-2" id="newFolderName"
                                           name="newName" type="text"
                                           placeholder="Введите новое имя"
                                           aria-label="Search" style="margin-left: 0.5rem">
                                    <input type="hidden" id="pathForRename" name="path"
                                           th:value="${path}">
                                    <input type="hidden" id="oldFolderName" name="oldName"
                                           th:value="${userFile.fileName()}">
                                    <input type="hidden" name="userId" th:value="${userDto.id()}">
                                    <input type="hidden" name="isFolder" th:value="${userFile.isFolder()}">
                                    <button class="btn btn-outline-light bg-secondary m-2 align-content-center"
                                            type="submit">
                                        Переименовать
                                    </button>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 d-flex flex-column justify-content-center align-items-center navigation">
                <div class="badge bg-secondary text-wrap">
                    <h6 style="margin-bottom: 0.1rem">НАВИГАЦИЯ</h6>
                </div>
                <ul class="list-group list-group-flush" style="text-align: center; margin-top: 1rem; width: 100%">
                    <li class="list-group-item" th:if="${navigationPath == null}">Корневой каталог <small
                            class="text-muted"><-- Вы находитесь здесь</small></li>
                    <li class="list-group-item" th:if="${navigationPath}">
                        <a class="nav-link" th:href="@{/}" th:text="'Корневой каталог'"></a>
                    </li>
                    <li class="list-group-item" th:if="${navigationPath}" th:each="navPath : ${navigationPath}">
                        <a class="nav-link disabled" th:if="${navPath.equals(path)}" th:href="@{/(path=${navPath})}"
                           tabindex="-1" aria-disabled="true" th:text="${navPath} + ' <-- Вы находитесь здесь'"></a>
                        <a th:if="${!navPath.equals(path)}" th:href="@{/(path=${navPath})}"
                           th:text="${navPath}"></a>
                    </li>
                    <li class="list-group-item" th:each="userFile : ${userFiles}" th:if="${userFile.isFolder()}">
                        <a class="nav-link" th:if="${path == null}"
                           th:href="@{/(path=${userFile.fileName()})}"
                           th:text="${userFile.fileName()}"></a>
                        <a class="nav-link" th:if="${path != null}"
                           th:href="@{/(path=${path} + '/' + ${userFile.fileName()})}"
                           th:text="${userFile.fileName()}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center text fixed-bottom bd-highlight opacity-100 p-2 bg-secondary text-light fw-bold rounded m-auto">
                <a class="link-light" href="https://github.com/YuriyNekludov">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                         class="bi bi-github"
                         viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>